Repository jondo2010/rust-fmi: changes, and which Codecov flags are due for each by the changed paths.
All: FMI Core Library, FMI Schema, FMI Simulation, FMI System Bindings, FMI Test Data

wip
  examples/bouncing_ball/Cargo.toml
  examples/bouncing_ball/src/lib.rs
  fmi-export-derive/src/codegen/get_set.rs
  fmi-export-derive/src/codegen/logging_category.rs
  fmi-export-derive/src/codegen/mod.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/model.rs
  fmi-export-derive/src/model_description.rs
  fmi-export-derive/src/tests.rs
  fmi-export/src/fmi3/instance.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits.rs
  fmi-sim/src/sim/fmi3/io.rs
Due: FMI Simulation

wip
  examples/bouncing_ball/src/lib.rs
  fmi-export-derive/src/codegen/get_set.rs
  fmi-export-derive/src/codegen/mod.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export/src/fmi3/instance.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits.rs
Due: none

progress
  Cargo.lock
  Cargo.toml
  examples/bouncing_ball/src/lib.rs
  fmi-export-derive/Cargo.toml
  fmi-export-derive/src/codegen/get_set.rs
  fmi-export-derive/src/codegen/mod.rs
  fmi-export-derive/src/codegen/model_impl/getter_setter.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export/Cargo.toml
  fmi-export/src/fmi3/instance.rs
  fmi-export/src/fmi3/instance/common.rs
  fmi-export/src/fmi3/instance/get_set.rs
  fmi-export/src/fmi3/instance/mod.rs
  fmi-export/src/fmi3/instance/model_exchange.rs
  fmi-export/src/fmi3/macros.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits.rs
  fmi-export/tests/bouncing_ball.rs
  fmi-export/tests/van_der_pol.rs
  fmi-sim/src/sim/fmi3/io.rs
Due: FMI Simulation

semi-working; logging working better
  Cargo.lock
  examples/bouncing_ball/src/lib.rs
  fmi-export/src/fmi3/instance/common.rs
  fmi-export/src/fmi3/instance/mod.rs
  fmi-export/src/fmi3/instance/model_exchange.rs
  fmi-export/src/fmi3/macros.rs
  fmi-export/src/fmi3/mod.rs
  fmi-sim/Cargo.toml
  fmi-sim/src/lib.rs
  fmi-sim/src/main.rs
  fmi-sim/src/options.rs
  fmi/src/fmi2/import.rs
  fmi/src/fmi2/instance/common.rs
  fmi/src/fmi2/instance/mod.rs
  fmi/src/fmi2/instance/model_exchange.rs
  fmi/src/fmi3/instance/mod.rs
  fmi/src/fmi3/logger.rs
  fmi/src/fmi3/mod.rs
  fmi/src/fmi3/traits.rs
  fmi/src/lib.rs
  fmi/src/traits.rs
  xtask/Cargo.toml
  xtask/src/fmu_builder.rs
  xtask/src/main.rs
Due: FMI Core Library, FMI Simulation

refactor!: Use EventFlags in update_discrete_states / new_discrete_states
  examples/bouncing_ball/src/lib.rs
  fmi-export-derive/src/codegen/model_impl/getter_setter.rs
  fmi-export-derive/src/model_description.rs
  fmi-export/src/fmi3/instance/common.rs
  fmi-export/src/fmi3/instance/mod.rs
  fmi-export/src/fmi3/instance/model_exchange.rs
  fmi-export/src/fmi3/macros.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits.rs
  fmi-sim/src/sim/fmi3/cs.rs
  fmi-sim/src/sim/fmi3/mod.rs
  fmi-sim/src/sim/me.rs
  fmi-sim/src/sim/mod.rs
  fmi-sim/src/sim/traits.rs
  fmi/src/event_flags.rs
  fmi/src/fmi2/instance/mod.rs
  fmi/src/fmi2/instance/model_exchange.rs
  fmi/src/fmi2/instance/traits.rs
  fmi/src/fmi3/instance/co_simulation.rs
  fmi/src/fmi3/instance/common.rs
  fmi/src/fmi3/instance/mod.rs
  fmi/src/fmi3/instance/model_exchange.rs
  fmi/src/fmi3/traits.rs
  fmi/src/lib.rs
  fmi/src/traits.rs
Due: FMI Core Library, FMI Simulation

correct specification of event_indicators
  examples/bouncing_ball/src/lib.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/model.rs
  fmi-export-derive/src/model_description.rs
Due: none

wip
  Cargo.lock
  examples/bouncing_ball/Cargo.toml
  fmi-export-derive/Cargo.toml
  fmi-schema/src/fmi3/build_description.rs
  fmi-schema/src/fmi3/mod.rs
  fmi-schema/src/lib.rs
  fmi-schema/tests/FMI3BuildDescription.xml
  fmi-schema/tests/test_fmi3_build_description.rs
  xtask/Cargo.toml
  xtask/src/fmu_builder.rs
Due: FMI Schema

Initial working ME
  .github/copilot-instructions.md
  Cargo.lock
  examples/bouncing_ball/Cargo.toml
  examples/bouncing_ball/src/lib.rs
  fmi-export-derive/src/codegen/logging_category.rs
  fmi-export-derive/src/codegen/mod.rs
  fmi-export-derive/src/codegen/model_impl/getter_setter.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/codegen/model_impl/start_values.rs
  fmi-export-derive/src/codegen/value_ref.rs
  fmi-export-derive/src/lib.rs
  fmi-export-derive/src/model.rs
  fmi-export-derive/src/model_description.rs
  fmi-export-derive/src/model_structure.rs
  fmi-export-derive/src/model_variables.rs
  fmi-export-derive/src/tests.rs
  fmi-export-derive/src/util.rs
  fmi-export/src/fmi3/macros.rs
  fmi-export/src/fmi3/traits.rs
  fmi-schema/Cargo.toml
  fmi-schema/src/fmi3/annotation.rs
  fmi-schema/src/fmi3/interface_type.rs
  fmi-schema/src/fmi3/model_description.rs
  fmi-schema/src/lib.rs
  fmi-schema/src/utils.rs
  fmi/src/fmi3/instance/mod.rs
  xtask/Cargo.toml
  xtask/src/extractor.rs
  xtask/src/fmu_builder.rs
  xtask/src/main.rs
  xtask/src/model_description_extractor.rs
Due: FMI Core Library, FMI Schema

Added initial field, added dahlquist.
  Cargo.lock
  Cargo.toml
  examples/bouncing_ball/src/lib.rs
  examples/dahlquist/Cargo.toml
  examples/dahlquist/README.md
  examples/dahlquist/src/lib.rs
  fmi-export-derive/src/model.rs
  fmi-export-derive/src/model_structure.rs
  fmi-export-derive/src/model_variables.rs
  fmi-export/src/fmi3/traits.rs
  fmi-schema/src/fmi3/variable.rs
Due: FMI Schema

reworked proc-macro error handling
  examples/bouncing_ball/src/lib.rs
  examples/dahlquist/src/lib.rs
  fmi-export-derive/src/codegen/model_impl/get_set_states.rs
  fmi-export-derive/src/codegen/model_impl/getter_setter.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/lib.rs
  fmi-export-derive/src/model.rs
  fmi-export-derive/src/model_structure.rs
  fmi-export-derive/src/model_variables.rs
  fmi-export-derive/src/tests.rs
  fmi-export/src/fmi3/instance/get_set.rs
  fmi-export/src/fmi3/instance/model_exchange.rs
  fmi-export/src/fmi3/traits.rs
Due: none

Add annotations to AbstractVariable
  fmi-schema/src/fmi3/annotation.rs
  fmi-schema/src/fmi3/mod.rs
  fmi-schema/src/fmi3/model_description.rs
  fmi-schema/src/fmi3/variable.rs
Due: FMI Schema

WIP
  fmi-export-derive/src/model.rs
  fmi-export-derive/src/model_structure.rs
  fmi-export-derive/src/model_variables.rs
  fmi-export-derive/src/tests.rs
  fmi-schema/src/fmi3/variable.rs
Due: FMI Schema

WIP
  Cargo.lock
  Cargo.toml
  fmi-export-derive/src/codegen/mod.rs
  fmi-export-derive/src/codegen/model_impl/getter_setter.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/codegen/model_impl/start_values.rs
  fmi-export-derive/src/model/field_attr.rs
  fmi-export-derive/src/model/mod.rs
  fmi-export-derive/src/model_structure.rs
  fmi-export-derive/src/model_variables.rs
  fmi-export-derive/src/model_variables/field_type.rs
  fmi-export-derive/src/model_variables/mod.rs
  fmi-export-derive/src/tests.rs
  fmi-export-derive/src/util.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/variable_builder.rs
  fmi-schema/src/fmi3/model_description.rs
  fmi-schema/src/fmi3/variable/dimension.rs
  fmi-schema/src/fmi3/variable/mod.rs
  fmi-schema/src/fmi3/variable/model_variables.rs
  fmi-schema/src/fmi3/variable/tests.rs
  fmi-schema/src/fmi3/variable_dependency.rs
  fmi/src/fmi3/instance/mod.rs
Due: FMI Core Library, FMI Schema

un-fuck
  fmi-schema/src/fmi3/variable/mod.rs
  fmi-schema/src/fmi3/variable/tests.rs
  fmi-schema/tests/test_fmi3.rs
Due: FMI Schema

fixed tests
  fmi-schema/src/fmi3/variable/tests.rs
Due: FMI Schema

checkpoint working
  fmi-export-derive/src/model_structure.rs
  fmi-export-derive/src/model_variables/mod.rs
  fmi-export-derive/src/tests.rs
  fmi-export-derive/src/util.rs
  fmi-export/src/fmi3/instance/mod.rs
  fmi-export/src/fmi3/variable_builder.rs
  fmi-schema/README.md
  fmi-schema/src/minimal.rs
  tests/test_instances_fmi3.rs
Due: FMI Schema

fix
  examples/dahlquist/src/lib.rs
  fmi-export-derive/src/model/mod.rs
  fmi-export/examples/comprehensive_test.rs
  fmi-export/examples/test_macro.rs
Due: none

ci: Simplify CI by removing nightly toolchain
  .github/workflows/ci.yml
  Cargo.toml
Due: none

fix: clarify MacOS handling in test_instances_fmi2
  tests/test_instances_fmi2.rs
Due: none

refactor: Factor out common fields in `Fmi3InterfaceType` and provide an `FmiInterfaceType` trait
  fmi-schema/src/fmi2/interface_type.rs
  fmi-schema/src/fmi3/interface_type.rs
  fmi-schema/src/traits.rs
  fmi-schema/tests/test_fmi3.rs
  fmi/src/fmi3/instance/co_simulation.rs
  fmi/src/fmi3/instance/model_exchange.rs
  fmi/src/fmi3/instance/scheduled_execution.rs
  fmi/src/fmi3/mod.rs
Due: FMI Core Library, FMI Schema

fixup: Formatting; Remove test-log crate;
  Cargo.lock
  Cargo.toml
  fmi-schema/src/fmi3/variable/tests.rs
  fmi-schema/src/utils.rs
  fmi-sim/Cargo.toml
  fmi-sim/tests/test_fmi_sim.rs
  tests/test_imports.rs
Due: FMI Schema

test: Added additional fmi-schema test coverage
  fmi-schema/tests/test_fmi2.rs
  fmi-schema/tests/test_serialize.rs
Due: none

Update fmi-sim/src/sim/traits.rs
  fmi-sim/src/sim/traits.rs
Due: FMI Simulation

feat: Add new fmi-export-derive crate
  Cargo.lock
  Cargo.toml
  fmi-export-derive/Cargo.toml
  fmi-export-derive/README.md
  fmi-export-derive/src/codegen/mod.rs
  fmi-export-derive/src/codegen/model_impl/get_set_states.rs
  fmi-export-derive/src/codegen/model_impl/getter_setter.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/codegen/model_impl/start_values.rs
  fmi-export-derive/src/codegen/util.rs
  fmi-export-derive/src/codegen/value_ref.rs
  fmi-export-derive/src/lib.rs
  fmi-export-derive/src/model/field_attr.rs
  fmi-export-derive/src/model/mod.rs
  fmi-export-derive/src/model_structure.rs
  fmi-export-derive/src/model_variables/field_type.rs
  fmi-export-derive/src/model_variables/mod.rs
  fmi-export-derive/src/tests.rs
  fmi-export-derive/src/util.rs
Due: none

feat: Add new fmi-export crate
  .github/copilot-instructions.md
  Cargo.lock
  Cargo.toml
  fmi-export/ARCHITECTURE.md
  fmi-export/Cargo.toml
  fmi-export/README.md
  fmi-export/src/fmi3/instance/common.rs
  fmi-export/src/fmi3/instance/get_set.rs
  fmi-export/src/fmi3/instance/mod.rs
  fmi-export/src/fmi3/instance/model_exchange.rs
  fmi-export/src/fmi3/macros.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits.rs
  fmi-export/src/fmi3/variable_builder.rs
  fmi-export/src/lib.rs
Due: none

feat: Add examples and xtask
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  examples/bouncing_ball/Cargo.toml
  examples/bouncing_ball/src/lib.rs
  examples/dahlquist/Cargo.toml
  examples/dahlquist/README.md
  examples/dahlquist/src/lib.rs
  xtask/Cargo.toml
  xtask/README.md
  xtask/src/extractor.rs
  xtask/src/fmu_builder.rs
  xtask/src/main.rs
  xtask/src/platform.rs
Due: none

fix: cargo fmt
  fmi-export-derive/src/model_variables/mod.rs
  fmi-sim/src/sim/traits.rs
  xtask/src/platform.rs
Due: FMI Simulation

- rework macros to generate all fmi get/set methods - handle time properly in the generated interface code
  fmi-export-derive/src/codegen/model_impl/getter_setter.rs
  fmi-export-derive/src/codegen/value_ref.rs
  fmi-export-derive/src/model/mod.rs
  fmi-export/src/fmi3/instance/mod.rs
  fmi-export/src/fmi3/macros.rs
  fmi-export/src/fmi3/traits.rs
  fmi-export/src/lib.rs
Due: none

Added VanDerPol; WIP stair
  Cargo.lock
  examples/stair/Cargo.toml
  examples/stair/README.md
  examples/stair/src/lib.rs
  examples/vanderpol/Cargo.toml
  examples/vanderpol/README.md
  examples/vanderpol/src/lib.rs
  fmi-export/src/fmi3/instance/common.rs
Due: none

fix: Correct usage of EventFlags as inout param in fmi-sim feat: Export full FMI spec stubs in `fmi-export`
  fmi-export/src/fmi3/instance/common.rs
  fmi-export/src/fmi3/instance/get_set.rs
  fmi-export/src/fmi3/instance/model_exchange.rs
  fmi-export/src/fmi3/macros.rs
  fmi-sim/src/main.rs
  fmi-sim/src/sim/fmi2/cs.rs
  fmi-sim/src/sim/fmi2/me.rs
  fmi-sim/src/sim/fmi3/cs.rs
  fmi-sim/src/sim/fmi3/me.rs
  fmi-sim/src/sim/io.rs
  fmi-sim/src/sim/me.rs
  fmi-sim/src/sim/mod.rs
  fmi/src/fmi3/instance/common.rs
  fmi/src/fmi3/instance/model_exchange.rs
  fmi/src/fmi3/mod.rs
  fmi/src/fmi3/traits.rs
Due: FMI Core Library, FMI Simulation

Working Stair example
  examples/stair/src/lib.rs
Due: none

Fix codegen for arrays. Change VanDerPol to using an array.
  examples/stair/src/lib.rs
  examples/vanderpol/src/lib.rs
  fmi-export-derive/src/codegen/model_impl/get_set_states.rs
  fmi-export-derive/src/codegen/model_impl/getter_setter.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/codegen/value_ref.rs
  fmi-export-derive/src/model_variables/field_type.rs
  fmi-export/src/fmi3/instance/model_exchange.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits.rs
Due: none

Enter/exit configuration mode
  fmi-export/src/fmi3/instance/common.rs
  fmi-export/src/fmi3/macros.rs
Due: none

cargo fmt
  fmi-export-derive/src/codegen/model_impl/get_set_states.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/codegen/value_ref.rs
  fmi/src/fmi3/mod.rs
Due: FMI Core Library

finishing
  .github/copilot-instructions.md
  fmi-export-derive/src/model_variables/mod.rs
  fmi-export-derive/src/tests.rs
  fmi-export/src/fmi3/instance/model_exchange.rs
  fmi-schema/src/lib.rs
  xtask/README.md
  xtask/src/commands/bundle.rs
  xtask/src/commands/bundle_multi.rs
  xtask/src/commands/inspect.rs
  xtask/src/commands/mod.rs
  xtask/src/fmu_builder.rs
  xtask/src/main.rs
Due: FMI Schema

Update fmi-export/src/fmi3/variable_builder.rs
  fmi-export/src/fmi3/variable_builder.rs
Due: none

test: Update codecov to include testing FMUs
  .github/workflows/codecov.yml
  admin/coverage.sh
Due: none

typo
  .github/workflows/codecov.yml
Due: none

Path conditions:
  FMI Core Library: any of: fmi/src/**, fmi/build.rs, but not: target/**, **/*.md, **/tests/**, **/benches/**, fmi-standard/**, fmi-standard2/**, fmi-standard3/**, fmi-ls-bus/**, docs/**
  FMI Schema: any of: fmi-schema/src/**, but not: target/**, **/*.md, **/tests/**, **/benches/**, fmi-standard/**, fmi-standard2/**, fmi-standard3/**, fmi-ls-bus/**, docs/**
  FMI Simulation: any of: fmi-sim/src/**, fmi-sim/examples/**, but not: target/**, **/*.md, **/tests/**, **/benches/**, fmi-standard/**, fmi-standard2/**, fmi-standard3/**, fmi-ls-bus/**, docs/**
  FMI System Bindings: any of: fmi-sys/src/**, fmi-sys/build.rs, but not: target/**, **/*.md, **/tests/**, **/benches/**, fmi-standard/**, fmi-standard2/**, fmi-standard3/**, fmi-ls-bus/**, docs/**
  FMI Test Data: any of: fmi-test-data/src/**, but not: target/**, **/*.md, **/tests/**, **/benches/**, fmi-standard/**, fmi-standard2/**, fmi-standard3/**, fmi-ls-bus/**, docs/**
