Repository jondo2010/rust-fmi: changes, and which Codecov flags are due for each by the changed paths.
All: fmi, fmi-export, fmi-ls-bus, fmi-schema, fmi-sim, fmi-sys, fmi-test-data

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
        if_not_found: success
      - type: patch
        target: auto
        threshold: 1%
        if_not_found: success

  individual_components:
    - component_id: fmi
      name: fmi
      paths:
        - fmi/src/**
        - fmi/build.rs
      statuses:
        - type: project
          target: 80%
        - type: patch
          target: 70%

    - component_id: fmi-export
      name: fmi-export
      paths:
        - fmi-export/src/**
        - fmi-export-derive/src/**
      statuses:
        - type: project
          target: auto

    - component_id: fmi-ls-bus
      name: fmi-ls-bus
      paths:
        - fmi-ls-bus/src/**
      statuses:
        - type: project
          target: auto

    - component_id: fmi-schema
      name: fmi-schema
      paths:
        - fmi-schema/src/**
      statuses:
        - type: project
          target: 85%
        - type: patch
          target: 75%

    - component_id: fmi-sim
      name: fmi-sim
      paths:
        - fmi-sim/src/**
        - fmi-sim/examples/**
      statuses:
        - type: project
          target: 70%
        - type: patch
          target: 60%

    - component_id: fmi-sys
      name: fmi-sys
      paths:
        - fmi-sys/src/**
        - fmi-sys/build.rs
      statuses:
        - type: project
          target: 60%
        - type: patch
          target: 50%

    - component_id: fmi-test-data
      name: fmi-test-data
      paths:
        - fmi-test-data/src/**
      statuses:
        - type: project
          target: 75%
        - type: patch
          target: 65%

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

ignore:
  - "target/**"
  - "**/*.md"
  - "**/tests/**"
  - "**/benches/**"
  - "**/examples/**"
  - "fmi-standard/**"
  - "fmi-standard2/**"
  - "fmi-standard3/**"
  - "fmi-ls-bus/**"
  - "docs/**"

test(fmi-schema): improve coverage and adjust gates
  codecov.yml
  fmi-schema/src/date_time.rs
  fmi-schema/src/fmi3/build_description.rs
  fmi-schema/src/fmi3/type.rs
  fmi-schema/src/fmi3/variable/model_variables.rs
  fmi-schema/src/fmi3/variable_dependency.rs
  fmi-schema/src/utils.rs
  fmi-schema/src/variable_counts.rs
  fmi-schema/tests/test_schema_utilities.rs
Due: fmi-schema

test(fmi-schema): exercise counts through integration
  fmi-schema/src/variable_counts.rs
  fmi-schema/tests/test_schema_utilities.rs
Due: fmi-schema

test(fmi-schema): improve coverage and adjust gates (#184)
  codecov.yml
  fmi-schema/src/date_time.rs
  fmi-schema/src/fmi3/build_description.rs
  fmi-schema/src/fmi3/type.rs
  fmi-schema/src/fmi3/variable/model_variables.rs
  fmi-schema/src/fmi3/variable_dependency.rs
  fmi-schema/src/utils.rs
  fmi-schema/tests/test_schema_utilities.rs
Due: fmi-schema

docs: design dead-code cleanup
  docs/superpowers/specs/2026-08-18-dead-code-cleanup-design.md
Due: none

docs: plan dead-code cleanup
  docs/superpowers/plans/2026-08-18-dead-code-cleanup.md
Due: none

refactor: remove orphaned Rust sources
  fmi-export-derive/src/codegen/util.rs
  fmi-export-derive/src/codegen/value_ref.rs
  fmi-export-derive/src/lib.rs
  fmi-export-derive/src/tests.rs
  fmi-sim/src/main.old.rs
  fmi/src/fmi2/variable.rs
  fmi/src/fmi3/import.rs
  fmi/src/fmi3/mod.rs
  fmi/src/fmi3/model.rs
  fmi/src/fmi3/model2.rs
Due: fmi, fmi-export, fmi-sim

refactor: remove unconditionally disabled code
  fmi-schema/src/fmi2/model_description.rs
  fmi-sim/tests/test_fmi_sim.rs
  fmi-test-data/src/lib.rs
  fmi/src/fmi2/instance/common.rs
  fmi/src/fmi2/instance/traits.rs
  fmi/src/fmi3/instance/common.rs
  fmi/src/fmi3/traits.rs
Due: fmi, fmi-schema, fmi-test-data

refactor: remove redundant dead-code allowance
  fmi-export/src/fmi3/traits/mod.rs
Due: fmi-export

docs: reconcile dead-code cleanup plan
  docs/superpowers/plans/2026-08-18-dead-code-cleanup.md
Due: none

docs: remove agent planning artifacts
  docs/superpowers/plans/2026-08-18-dead-code-cleanup.md
  docs/superpowers/specs/2026-08-18-dead-code-cleanup-design.md
Due: none

refactor: remove dead code (#185)
  fmi-export-derive/src/codegen/util.rs
  fmi-export-derive/src/codegen/value_ref.rs
  fmi-export-derive/src/lib.rs
  fmi-export-derive/src/tests.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-schema/src/fmi2/model_description.rs
  fmi-sim/src/main.old.rs
  fmi-sim/tests/test_fmi_sim.rs
  fmi-test-data/src/lib.rs
  fmi/src/fmi2/instance/common.rs
  fmi/src/fmi2/instance/traits.rs
  fmi/src/fmi2/variable.rs
  fmi/src/fmi3/import.rs
  fmi/src/fmi3/instance/common.rs
  fmi/src/fmi3/mod.rs
  fmi/src/fmi3/model.rs
  fmi/src/fmi3/model2.rs
  fmi/src/fmi3/traits.rs
Due: fmi, fmi-export, fmi-schema, fmi-sim, fmi-test-data
