Repository jondo2010/rust-fmi: changes, and which Codecov flags are due for each by the changed paths.
All: FMI Core Library, FMI Schema, FMI Simulation, FMI System Bindings, FMI Test Data

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
        if_not_found: success
      - type: patch
        target: auto
        threshold: 1%
        if_not_found: success

  individual_components:
    - component_id: fmi
      name: FMI Core Library
      paths:
        - fmi/src/**
        - fmi/build.rs
      statuses:
        - type: project
          target: 80%
        - type: patch
          target: 70%

    - component_id: fmi-schema
      name: FMI Schema
      paths:
        - fmi-schema/src/**
      statuses:
        - type: project
          target: 85%
        - type: patch
          target: 75%

    - component_id: fmi-sim
      name: FMI Simulation
      paths:
        - fmi-sim/src/**
        - fmi-sim/examples/**
      statuses:
        - type: project
          target: 70%
        - type: patch
          target: 60%

    - component_id: fmi-sys
      name: FMI System Bindings
      paths:
        - fmi-sys/src/**
        - fmi-sys/build.rs
      statuses:
        - type: project
          target: 60%
        - type: patch
          target: 50%

    - component_id: fmi-test-data
      name: FMI Test Data
      paths:
        - fmi-test-data/src/**
      statuses:
        - type: project
          target: 75%
        - type: patch
          target: 65%

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

ignore:
  - "target/**"
  - "**/*.md"
  - "**/tests/**"
  - "**/benches/**"
  - "fmi-standard/**"
  - "fmi-standard2/**"
  - "fmi-standard3/**"
  - "fmi-ls-bus/**"
  - "docs/**"

chore: cargo update (#133)
  Cargo.lock
Due: none

checkpoint
  Cargo.lock
  examples/dahlquist/src/lib.rs
  examples/vanderpol/src/lib.rs
  fmi-export-derive/src/codegen/model_impl/metadata.rs
  fmi-export/ARCHITECTURE.md
  fmi-export/src/fmi3/export.rs
  fmi-export/src/fmi3/instance/impl_cs_me_wrapper.rs
  fmi-export/src/fmi3/instance/mod.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-export/src/fmi3/traits/wrappers.rs
  fmi-export/src/fmi3/variable_builder.rs
  fmi-schema/src/fmi3/mod.rs
  fmi-schema/src/fmi3/variable/mod.rs
  fmi-schema/src/fmi3/variable/model_variables.rs
  fmi-schema/src/fmi3/variable/tests.rs
Due: FMI Schema

WIP buildable checkpoint
  examples/bouncing_ball/src/lib.rs
  examples/dahlquist/src/lib.rs
  examples/stair/src/lib.rs
  fmi-export-derive/src/codegen/model_get_set.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/model/mod.rs
  fmi-export/src/fmi3/instance/common.rs
  fmi-export/src/fmi3/instance/context.rs
  fmi-export/src/fmi3/instance/get_set.rs
  fmi-export/src/fmi3/instance/impl_cs_me_wrapper.rs
  fmi-export/src/fmi3/instance/impl_me.rs
  fmi-export/src/fmi3/instance/impl_se.rs
  fmi-export/src/fmi3/instance/mod.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-export/src/fmi3/traits/wrappers.rs
  fmi/src/lib.rs
Due: FMI Core Library

Implement Co-Simulation Interface and Refactor Model Exchange Wrapper
  .github/copilot-instructions.md
  examples/dahlquist/src/lib.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/model/mod.rs
  fmi-export/ARCHITECTURE.md
  fmi-export/src/fmi3/export.rs
  fmi-export/src/fmi3/instance/context.rs
  fmi-export/src/fmi3/instance/impl_cs.rs
  fmi-export/src/fmi3/instance/impl_cs_me_wrapper.rs
  fmi-export/src/fmi3/instance/mod.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-export/src/fmi3/traits/wrappers.rs
  fmi-xtask/src/extractor.rs
  fmi-xtask/src/metadata.rs
Due: none

Refactor ModelGetSet trait to remove UserModel dependency
  fmi-export/src/fmi3/traits/model_get_set.rs
Due: none

Implement child field support in FMU model generation and update related metadata handling
  examples/can_triggered_output/Cargo.toml
  examples/can_triggered_output/src/lib.rs
  fmi-export-derive/src/codegen/model_get_set.rs
  fmi-export-derive/src/codegen/model_get_set_states.rs
  fmi-export-derive/src/codegen/model_impl/metadata.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/lib.rs
  fmi-export-derive/src/model/field_attr.rs
  fmi-export-derive/src/model/mod.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-export/tests/test_child.rs
Due: none

Add error handling and logging for output recording and input application; introduce binary max size handling in schema
  fmi-sim/src/sim/fmi2/cs.rs
  fmi-sim/src/sim/fmi2/io.rs
  fmi-sim/src/sim/fmi3/io.rs
  fmi-sim/src/sim/fmi3/schema.rs
  fmi-sim/src/sim/io.rs
  fmi-sim/src/sim/traits.rs
Due: FMI Simulation

chore: update devcontainer configuration for improved setup
  .devcontainer/devcontainer.json
Due: none

fix(fmi-schema): allow optional event indicators for cs
  fmi-schema/src/fmi2/model_description.rs
  fmi-schema/tests/test_fmi2.rs
Due: FMI Schema

fix(fmi-schema): allow optional event indicators for cs (#148)
  fmi-schema/src/fmi2/model_description.rs
  fmi-schema/tests/test_fmi2.rs
Due: FMI Schema

Add Quillum FMU Simulator and SSP Schema Support
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  quillum/Cargo.toml
  quillum/DESGIN.md
  quillum/README.md
  quillum/src/fmu.rs
  quillum/src/hub.rs
  quillum/src/lib.rs
  quillum/src/solver.rs
  quillum/src/time.rs
  quillum/src/world.rs
  ssp-schema/Cargo.toml
  ssp-schema/src/lib.rs
Due: none

feat: expand FMU tooling, can bus component, and example harness
  README.md
  docs/building-fmus.md
  examples/bouncing_ball/src/lib.rs
  examples/can_triggered_output/Cargo.toml
  examples/can_triggered_output/src/lib.rs
  examples/dahlquist/src/lib.rs
  examples/stair/src/lib.rs
  examples/vanderpol/src/lib.rs
  fmi-export-derive/README.md
  fmi-export-derive/src/codegen/mod.rs
  fmi-export-derive/src/codegen/model_get_set.rs
  fmi-export-derive/src/codegen/model_get_set_states.rs
  fmi-export-derive/src/codegen/model_impl/metadata.rs
  fmi-export-derive/src/codegen/user_model_impl.rs
  fmi-export-derive/src/model/field_attr.rs
  fmi-export-derive/src/model/mod.rs
  fmi-export/ARCHITECTURE.md
  fmi-export/README.md
  fmi-export/src/fmi3/instance/impl_cs.rs
  fmi-export/src/fmi3/instance/impl_me.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-export/src/fmi3/traits/wrappers.rs
  fmi-export/src/fmi3/variable_builder.rs
  fmi-export/tests/test_child.rs
  fmi-ls-bus/Cargo.toml
  fmi-ls-bus/src/can/mod.rs
  fmi-xtask/README.md
  fmi/src/fmi3/instance/common.rs
  tests/examples_harness.rs
Due: FMI Core Library

feat: tighten FMU export/sim harness and CS callbacks
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  examples/can_triggered_output/src/lib.rs
  examples/dahlquist/src/lib.rs
  fmi-export-derive/src/codegen/mod.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/model/mod.rs
  fmi-export-derive/src/util.rs
  fmi-export/README.md
  fmi-export/src/fmi3/instance/context.rs
  fmi-export/src/fmi3/instance/get_set.rs
  fmi-export/src/fmi3/instance/mod.rs
  fmi-export/src/fmi3/traits/wrappers.rs
  fmi-sim/tests/test_fmi_sim.rs
  fmi-xtask/Cargo.toml
  fmi-xtask/README.md
  tests/examples_harness.rs
Due: none

docs: clean up docs and rustdoc warnings
  README.md
  docs/building-fmus.md
  examples/bouncing_ball/src/lib.rs
  examples/can_triggered_output/src/lib.rs
  examples/dahlquist/src/lib.rs
  examples/stair/src/lib.rs
  examples/vanderpol/src/lib.rs
  fmi-export-derive/README.md
  fmi-export-derive/src/lib.rs
  fmi-export/ARCHITECTURE.md
  fmi-export/README.md
  fmi-export/src/fmi3/mod.rs
  fmi-schema/README.md
  fmi-schema/src/fmi2/model_description.rs
  fmi-schema/src/fmi3/model_description.rs
  fmi-schema/src/fmi3/variable/mod.rs
  fmi-schema/src/utils.rs
  fmi-sys/README.md
  fmi-test-data/README.md
  fmi-xtask/README.md
  fmi/Cargo.toml
  fmi/src/event_flags.rs
  fmi/src/fmi2/instance/traits.rs
  fmi/src/fmi2/mod.rs
  fmi/src/fmi3/traits.rs
  fmi/src/import.rs
  fmi/src/lib.rs
Due: FMI Core Library, FMI Schema

fix(fmi-xtask): filter debug symbols when selecting cdylib artifacts on Windows
  .agent/AGENTS.md
  .agent/PLANS.md
  fmi-xtask/src/builder.rs
Due: none

docs: clean up docs and rustdoc warnings (#151)
  README.md
  docs/building-fmus.md
  examples/bouncing_ball/src/lib.rs
  examples/can_triggered_output/src/lib.rs
  examples/dahlquist/src/lib.rs
  examples/stair/src/lib.rs
  examples/vanderpol/src/lib.rs
  fmi-export-derive/README.md
  fmi-export-derive/src/lib.rs
  fmi-export/ARCHITECTURE.md
  fmi-export/README.md
  fmi-export/src/fmi3/mod.rs
  fmi-schema/README.md
  fmi-schema/src/fmi2/model_description.rs
  fmi-schema/src/fmi3/model_description.rs
  fmi-schema/src/fmi3/variable/mod.rs
  fmi-schema/src/utils.rs
  fmi-sys/README.md
  fmi-test-data/README.md
  fmi-xtask/README.md
  fmi/Cargo.toml
  fmi/src/event_flags.rs
  fmi/src/fmi2/instance/traits.rs
  fmi/src/fmi2/mod.rs
  fmi/src/fmi3/traits.rs
  fmi/src/import.rs
  fmi/src/lib.rs
Due: FMI Core Library, FMI Schema

fix(fmi-xtask): filter debug symbols when selecting cdylib artifacts on Windows (#152)
  .agent/AGENTS.md
  .agent/PLANS.md
  fmi-xtask/src/builder.rs
Due: none

chore: fix clippy lints, ensure we are checking these in CI
  .github/workflows/ci.yml
  .gitignore
  fmi-schema/src/fmi2/variable_dependency.rs
  fmi-schema/src/fmi3/variable/dimension.rs
  fmi-schema/src/fmi3/variable_dependency.rs
  fmi-test-data/src/lib.rs
  fmi/src/fmi3/instance/co_simulation.rs
  fmi/src/fmi3/instance/common.rs
  fmi/src/fmi3/instance/mod.rs
  fmi/src/fmi3/instance/model_exchange.rs
  fmi/src/fmi3/instance/scheduled_execution.rs
  fmi/src/fmi3/traits.rs
  tests/examples_harness.rs
  tests/test_instances_fmi2.rs
Due: FMI Core Library, FMI Schema, FMI Test Data

style: cargo fmt pass
  examples/can_triggered_output/src/lib.rs
  fmi-export-derive/src/codegen/mod.rs
  fmi-export-derive/src/codegen/model_get_set_states.rs
  fmi-export-derive/src/codegen/model_impl/metadata.rs
  fmi-export-derive/src/codegen/model_impl/start_values.rs
  fmi-export/src/fmi3/export.rs
  fmi-export/src/fmi3/instance/impl_me.rs
  fmi-export/tests/test_child.rs
  fmi-ls-bus/src/can/mod.rs
  fmi-ls-bus/src/tests.rs
  fmi-sim/src/sim/fmi3/io.rs
  fmi-sim/src/sim/fmi3/schema.rs
  fmi-sim/src/sim/io.rs
  fmi-xtask/src/metadata.rs
  fmi/src/fmi3/instance/common.rs
Due: FMI Core Library, FMI Simulation

chore: fix clippy lints, ensure we are checking these in CI (#153)
  .github/workflows/ci.yml
  .gitignore
  examples/can_triggered_output/src/lib.rs
  fmi-export-derive/src/codegen/mod.rs
  fmi-export-derive/src/codegen/model_get_set_states.rs
  fmi-export-derive/src/codegen/model_impl/metadata.rs
  fmi-export-derive/src/codegen/model_impl/start_values.rs
  fmi-export/src/fmi3/export.rs
  fmi-export/src/fmi3/instance/impl_me.rs
  fmi-export/tests/test_child.rs
  fmi-ls-bus/src/can/mod.rs
  fmi-ls-bus/src/tests.rs
  fmi-schema/src/fmi2/variable_dependency.rs
  fmi-schema/src/fmi3/variable/dimension.rs
  fmi-schema/src/fmi3/variable_dependency.rs
  fmi-sim/src/sim/fmi3/io.rs
  fmi-sim/src/sim/fmi3/schema.rs
  fmi-sim/src/sim/io.rs
  fmi-test-data/src/lib.rs
  fmi-xtask/src/metadata.rs
  fmi/src/fmi3/instance/co_simulation.rs
  fmi/src/fmi3/instance/common.rs
  fmi/src/fmi3/instance/mod.rs
  fmi/src/fmi3/instance/model_exchange.rs
  fmi/src/fmi3/instance/scheduled_execution.rs
  fmi/src/fmi3/traits.rs
  tests/examples_harness.rs
  tests/test_instances_fmi2.rs
Due: FMI Core Library, FMI Schema, FMI Simulation, FMI Test Data

chore: decouple crate versions and add fmi-ls-bus README
  Cargo.toml
  fmi-export-derive/Cargo.toml
  fmi-export-derive/README.md
  fmi-export/Cargo.toml
  fmi-ls-bus/Cargo.toml
  fmi-ls-bus/README.md
  fmi-ls-bus/src/lib.rs
  fmi-schema/Cargo.toml
  fmi-sim/Cargo.toml
  fmi-sys/Cargo.toml
  fmi-test-data/Cargo.toml
  fmi-test-data/README.md
  fmi-xtask/Cargo.toml
  fmi/Cargo.toml
  xtask/Cargo.toml
Due: none

chore: decouple crate versions and add fmi-ls-bus README (#154)
  Cargo.toml
  fmi-export-derive/Cargo.toml
  fmi-export-derive/README.md
  fmi-export/Cargo.toml
  fmi-ls-bus/Cargo.toml
  fmi-ls-bus/README.md
  fmi-ls-bus/src/lib.rs
  fmi-schema/Cargo.toml
  fmi-sim/Cargo.toml
  fmi-sys/Cargo.toml
  fmi-test-data/Cargo.toml
  fmi-test-data/README.md
  fmi-xtask/Cargo.toml
  fmi/Cargo.toml
  xtask/Cargo.toml
Due: none

chore: bump most dependencies
  Cargo.lock
  Cargo.toml
  fmi-ls-bus/src/can/tests.rs
  fmi-sim/Cargo.toml
  fmi-sim/tests/test_fmi_sim.rs
  fmi-sys/Cargo.toml
Due: none

chore: prepare release
  .agent/AGENTS.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  fmi-export/Cargo.toml
  fmi-schema/Cargo.toml
  fmi-sim/Cargo.toml
  fmi-sys/Cargo.toml
  fmi/Cargo.toml
  xtask/Cargo.toml
Due: none

chore: only publish required files in fmi-sys
  fmi-sys/Cargo.toml
Due: none

chore: specify hard-xml version in dev-dependencies
  fmi-schema/Cargo.toml
Due: none

chore: update package metadata for fmi-export and fmi-export-derive and fmi-xtask
  Cargo.lock
  Cargo.toml
  fmi-export-derive/Cargo.toml
  fmi-export/Cargo.toml
  fmi-xtask/Cargo.toml
Due: none

chore: update changelog for version 0.6.0 release
  CHANGELOG.md
Due: none

docs: improve crate documentation
  README.md
  fmi-export-derive/README.md
  fmi-export/README.md
  fmi-export/src/fmu_model_docs.md
  fmi-export/src/lib.rs
  fmi-ls-bus/Cargo.toml
  fmi-ls-bus/README.md
  fmi-ls-bus/src/can/mod.rs
  fmi-ls-bus/src/lib.rs
  fmi-sim/README.md
  fmi-test-data/README.md
  fmi-xtask/README.md
  fmi/src/import.rs
  fmi/src/lib.rs
Due: FMI Core Library

chore: bump crate versions
  Cargo.toml
  fmi-export-derive/Cargo.toml
  fmi-export/Cargo.toml
  fmi-ls-bus/Cargo.toml
  fmi/Cargo.toml
Due: none

chore: bump crate versions
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  fmi-export-derive/Cargo.toml
  fmi-export/Cargo.toml
  fmi-ls-bus/Cargo.toml
  fmi/Cargo.toml
Due: none

Docs/fmi docs cleanup (#155)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  fmi-export-derive/Cargo.toml
  fmi-export-derive/README.md
  fmi-export/Cargo.toml
  fmi-export/README.md
  fmi-export/src/fmu_model_docs.md
  fmi-export/src/lib.rs
  fmi-ls-bus/Cargo.toml
  fmi-ls-bus/README.md
  fmi-ls-bus/src/can/mod.rs
  fmi-ls-bus/src/lib.rs
  fmi-sim/README.md
  fmi-test-data/README.md
  fmi-xtask/README.md
  fmi/Cargo.toml
  fmi/src/import.rs
  fmi/src/lib.rs
Due: FMI Core Library

chore: replace coverage script with direct cargo llvm-cov command and remove unused script
  .github/workflows/codecov.yml
  admin/coverage.sh
Due: none

chore: update codecov configuration
  codecov.yml
Due: none

chore: replace coverage script with direct cargo llvm-cov command and… (#156)
  .github/workflows/codecov.yml
  admin/coverage.sh
  codecov.yml
Due: none

feat: Implement cargo-fmi: A new Cargo subcommand for FMI packaging and tooling
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  README.md
  cargo-fmi/Cargo.toml
  cargo-fmi/README.md
  cargo-fmi/src/builder.rs
  cargo-fmi/src/bundle.rs
  cargo-fmi/src/extractor.rs
  cargo-fmi/src/info.rs
  cargo-fmi/src/inspect.rs
  cargo-fmi/src/lib.rs
  cargo-fmi/src/main.rs
  cargo-fmi/src/metadata.rs
  cargo-fmi/src/new.rs
  cargo-fmi/src/packager.rs
  cargo-fmi/tests/integration_new_bundle.rs
  examples/dahlquist/README.md
  examples/vanderpol/README.md
  fmi-export/README.md
  fmi-xtask/src/inspect.rs
  fmi-xtask/src/lib.rs
  tests/examples_harness.rs
  xtask/Cargo.toml
  xtask/src/main.rs
Due: none

fixup
  cargo-fmi/Cargo.toml
  cargo-fmi/src/inspect.rs
Due: none
