Repository jondo2010/rust-fmi: changes, and which Codecov flags are due for each by the changed paths.
All: FMI Core Library, FMI Schema, FMI Simulation, FMI System Bindings, FMI Test Data

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
        if_not_found: success
      - type: patch
        target: auto
        threshold: 1%
        if_not_found: success

  individual_components:
    - component_id: fmi
      name: FMI Core Library
      paths:
        - fmi/src/**
        - fmi/build.rs
      statuses:
        - type: project
          target: 80%
        - type: patch
          target: 70%

    - component_id: fmi-schema
      name: FMI Schema
      paths:
        - fmi-schema/src/**
      statuses:
        - type: project
          target: 85%
        - type: patch
          target: 75%

    - component_id: fmi-sim
      name: FMI Simulation
      paths:
        - fmi-sim/src/**
        - fmi-sim/examples/**
      statuses:
        - type: project
          target: 70%
        - type: patch
          target: 60%

    - component_id: fmi-sys
      name: FMI System Bindings
      paths:
        - fmi-sys/src/**
        - fmi-sys/build.rs
      statuses:
        - type: project
          target: 60%
        - type: patch
          target: 50%

    - component_id: fmi-test-data
      name: FMI Test Data
      paths:
        - fmi-test-data/src/**
      statuses:
        - type: project
          target: 75%
        - type: patch
          target: 65%

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

ignore:
  - "target/**"
  - "**/*.md"
  - "**/tests/**"
  - "**/benches/**"
  - "fmi-standard/**"
  - "fmi-standard2/**"
  - "fmi-standard3/**"
  - "fmi-ls-bus/**"
  - "docs/**"

chore: Add codecov badge to README.md
  README.md
Due: none

WIP support for ls-bus
  .gitmodules
  Cargo.lock
  Cargo.toml
  fmi-sys/Cargo.toml
  fmi-sys/build.rs
  fmi-sys/src/fmi_ls_bus/util.rs
  fmi-sys/src/lib.rs
  fmi-sys/src/ls_bus/mod.rs
  fmi/Cargo.toml
  fmi/src/lib.rs
  fmi/src/ls_bus/mod.rs
Due: FMI Core Library, FMI System Bindings

feat: refactor FMI 3.0 traits and instance interfaces
  Cargo.lock
  fmi-sim/src/sim/fmi2/cs.rs
  fmi-sim/src/sim/fmi2/me.rs
  fmi-sim/src/sim/fmi3/cs.rs
  fmi-sim/src/sim/fmi3/io.rs
  fmi-sim/src/sim/fmi3/me.rs
  fmi-sim/src/sim/fmi3/mod.rs
  fmi-sim/src/sim/io.rs
  fmi-sim/src/sim/me.rs
  fmi-sim/src/sim/mod.rs
  fmi/Cargo.toml
  fmi/src/fmi2/instance/mod.rs
  fmi/src/fmi3/import.rs
  fmi/src/fmi3/instance/co_simulation.rs
  fmi/src/fmi3/instance/common.rs
  fmi/src/fmi3/instance/mod.rs
  fmi/src/fmi3/instance/model_exchange.rs
  fmi/src/fmi3/instance/scheduled_execution.rs
  fmi/src/fmi3/mod.rs
  fmi/src/fmi3/traits.rs
  fmi/src/traits.rs
  tests/test_imports.rs
  tests/test_instances_fmi3.rs
Due: FMI Core Library, FMI Simulation

feat: update get_event_indicators method signatures to return Result types
  fmi-sim/src/sim/solver/mod.rs
  fmi/src/fmi2/instance/model_exchange.rs
  fmi/src/fmi2/instance/traits.rs
  fmi/src/fmi3/instance/model_exchange.rs
  fmi/src/fmi3/traits.rs
  fmi/src/traits.rs
Due: FMI Core Library, FMI Simulation

feat: refactor FMI 3.0 traits and instance interfaces (#102)
  Cargo.lock
  fmi-sim/src/sim/fmi2/cs.rs
  fmi-sim/src/sim/fmi2/me.rs
  fmi-sim/src/sim/fmi3/cs.rs
  fmi-sim/src/sim/fmi3/io.rs
  fmi-sim/src/sim/fmi3/me.rs
  fmi-sim/src/sim/fmi3/mod.rs
  fmi-sim/src/sim/io.rs
  fmi-sim/src/sim/me.rs
  fmi-sim/src/sim/mod.rs
  fmi-sim/src/sim/solver/mod.rs
  fmi/Cargo.toml
  fmi/src/fmi2/instance/mod.rs
  fmi/src/fmi2/instance/model_exchange.rs
  fmi/src/fmi2/instance/traits.rs
  fmi/src/fmi3/import.rs
  fmi/src/fmi3/instance/co_simulation.rs
  fmi/src/fmi3/instance/common.rs
  fmi/src/fmi3/instance/mod.rs
  fmi/src/fmi3/instance/model_exchange.rs
  fmi/src/fmi3/instance/scheduled_execution.rs
  fmi/src/fmi3/mod.rs
  fmi/src/fmi3/traits.rs
  fmi/src/traits.rs
  tests/test_imports.rs
  tests/test_instances_fmi3.rs
Due: FMI Core Library, FMI Simulation

feat(fmi-test-data): upgrade to version 0.2.0 with Reference FMUs v0.0.39
  Cargo.lock
  Cargo.toml
  fmi-sim/src/sim/fmi3/io.rs
  fmi-sim/tests/test_fmi_sim.rs
  fmi-test-data/CHANGELOG.md
  fmi-test-data/Cargo.toml
  fmi-test-data/README.md
  fmi-test-data/src/lib.rs
  fmi-test-data/src/registry.txt
  fmi-test-data/tests/integration_tests.rs
Due: FMI Simulation, FMI Test Data

feat(fmi2): enhance string handling in Common trait and implementations
  fmi-sim/src/sim/fmi2/io.rs
  fmi/src/fmi2/instance/common.rs
  fmi/src/fmi2/instance/traits.rs
Due: FMI Core Library, FMI Simulation

Upgrade fmi-test-data to version 0.2.0 (#95)
  Cargo.lock
  Cargo.toml
  fmi-sim/src/sim/fmi2/io.rs
  fmi-sim/src/sim/fmi3/io.rs
  fmi-sim/tests/test_fmi_sim.rs
  fmi-test-data/CHANGELOG.md
  fmi-test-data/Cargo.toml
  fmi-test-data/README.md
  fmi-test-data/src/lib.rs
  fmi-test-data/src/registry.txt
  fmi-test-data/tests/integration_tests.rs
  fmi/src/fmi2/instance/common.rs
  fmi/src/fmi2/instance/traits.rs
Due: FMI Core Library, FMI Simulation, FMI Test Data

Update copilot-instructions.md
  .github/copilot-instructions.md
Due: none

feat: Add GitHub Copilot instructions (#106)
  .github/copilot-instructions.md
  fmi-sim/src/sim/io.rs
Due: FMI Simulation

refactor: improve formatting and documentation in FMU import module
  fmi-sim/src/sim/io.rs
  fmi/src/fmi2/instance/common.rs
  fmi/src/fmi3/mod.rs
  fmi/src/import.rs
Due: FMI Core Library, FMI Simulation

refactor: fix documentation warnings
  Cargo.toml
  fmi-schema/src/fmi3/attribute_groups.rs
  fmi/src/fmi2/instance/traits.rs
  fmi/src/fmi2/mod.rs
  fmi/src/fmi3/import.rs
  fmi/src/fmi3/instance/co_simulation.rs
  fmi/src/fmi3/instance/mod.rs
  fmi/src/fmi3/mod.rs
  fmi/src/fmi3/traits.rs
  fmi/src/lib.rs
  fmi/src/traits.rs
Due: FMI Core Library, FMI Schema

docs: outdated documentation example in fmi crate (#104)
  Cargo.toml
  fmi-schema/src/fmi3/attribute_groups.rs
  fmi-sim/src/sim/io.rs
  fmi/src/fmi2/instance/common.rs
  fmi/src/fmi2/instance/traits.rs
  fmi/src/fmi2/mod.rs
  fmi/src/fmi3/import.rs
  fmi/src/fmi3/instance/co_simulation.rs
  fmi/src/fmi3/instance/mod.rs
  fmi/src/fmi3/mod.rs
  fmi/src/fmi3/traits.rs
  fmi/src/import.rs
  fmi/src/lib.rs
  fmi/src/traits.rs
Due: FMI Core Library, FMI Schema, FMI Simulation

chore: upgrade to Rust edition 2024
  .github/copilot-instructions.md
  Cargo.lock
  Cargo.toml
  fmi-sys/build.rs
  fmi-sys/src/fmi2/logger.rs
  fmi/src/fmi3/logger.rs
Due: FMI Core Library, FMI System Bindings

chore: Update versioning to 0.5.0 and update changelog, prep for release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  fmi-schema/Cargo.toml
  fmi-sim/Cargo.toml
  fmi-sys/Cargo.toml
  fmi-test-data/Cargo.toml
  fmi/Cargo.toml
Due: none

chore: Update versioning to 0.5.0 and changelog, prep for release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  fmi-schema/Cargo.toml
  fmi-sim/Cargo.toml
  fmi-sys/Cargo.toml
  fmi-test-data/Cargo.toml
  fmi/Cargo.toml
Due: none

refactor: update methods to return Result types
  fmi-sim/src/sim/fmi2/cs.rs
  fmi-sim/src/sim/fmi2/io.rs
  fmi-sim/src/sim/fmi3/cs.rs
  fmi-sim/src/sim/fmi3/mod.rs
  fmi-sim/src/sim/interpolation.rs
  fmi-sim/src/sim/me.rs
  fmi-sim/src/sim/mod.rs
  fmi-sim/src/sim/solver/mod.rs
  fmi-sys/src/fmi2/logger.rs
  fmi/src/fmi2/instance/co_simulation.rs
  fmi/src/fmi2/instance/common.rs
  fmi/src/fmi2/instance/mod.rs
  fmi/src/fmi2/instance/model_exchange.rs
  fmi/src/fmi2/instance/traits.rs
  fmi/src/fmi3/instance/co_simulation.rs
  fmi/src/fmi3/instance/common.rs
  fmi/src/fmi3/instance/mod.rs
  fmi/src/fmi3/instance/model_exchange.rs
  fmi/src/fmi3/instance/scheduled_execution.rs
  fmi/src/fmi3/traits.rs
  fmi/src/traits.rs
  tests/test_instances_fmi2.rs
  tests/test_instances_fmi3.rs
Due: FMI Core Library, FMI Simulation, FMI System Bindings

refactor: update methods to return Result types (#108)
  fmi-sim/src/sim/fmi2/cs.rs
  fmi-sim/src/sim/fmi2/io.rs
  fmi-sim/src/sim/fmi3/cs.rs
  fmi-sim/src/sim/fmi3/mod.rs
  fmi-sim/src/sim/interpolation.rs
  fmi-sim/src/sim/me.rs
  fmi-sim/src/sim/mod.rs
  fmi-sim/src/sim/solver/mod.rs
  fmi-sys/src/fmi2/logger.rs
  fmi/src/fmi2/instance/co_simulation.rs
  fmi/src/fmi2/instance/common.rs
  fmi/src/fmi2/instance/mod.rs
  fmi/src/fmi2/instance/model_exchange.rs
  fmi/src/fmi2/instance/traits.rs
  fmi/src/fmi3/instance/co_simulation.rs
  fmi/src/fmi3/instance/common.rs
  fmi/src/fmi3/instance/mod.rs
  fmi/src/fmi3/instance/model_exchange.rs
  fmi/src/fmi3/instance/scheduled_execution.rs
  fmi/src/fmi3/traits.rs
  fmi/src/traits.rs
  tests/test_instances_fmi2.rs
  tests/test_instances_fmi3.rs
Due: FMI Core Library, FMI Simulation, FMI System Bindings

ci: Added formatting and other checks applied formatting
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  dev.sh
  fmi-schema/src/fmi2/mod.rs
  fmi-schema/src/fmi2/model_description.rs
  fmi-schema/src/fmi3/mod.rs
  fmi-schema/src/fmi3/model_description.rs
  fmi-schema/src/fmi3/variable.rs
  fmi-schema/tests/test_fmi2.rs
  fmi-sim/src/lib.rs
  fmi-sim/src/sim/fmi2/me.rs
  fmi-sim/src/sim/fmi2/mod.rs
  fmi-sim/src/sim/fmi3/io.rs
  fmi-sim/src/sim/fmi3/me.rs
  fmi-sim/src/sim/io.rs
  fmi-sim/src/sim/traits.rs
  fmi-sim/src/sim/util.rs
  fmi-sim/tests/test_fmi_sim.rs
  fmi-test-data/src/lib.rs
  fmi/src/fmi2/import.rs
  fmi/src/fmi2/instance/co_simulation.rs
  fmi/src/fmi2/instance/traits.rs
  fmi/src/fmi3/import.rs
  fmi/src/fmi3/model.rs
  fmi/src/import.rs
  rustfmt.toml
Due: FMI Core Library, FMI Schema, FMI Simulation, FMI Test Data

fix: remove formatting checks from main CI and adjust documentation warnings
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  dev.sh
Due: none

ci: Add CI formatting and checks (#109)
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  dev.sh
  fmi-schema/src/fmi2/mod.rs
  fmi-schema/src/fmi2/model_description.rs
  fmi-schema/src/fmi3/mod.rs
  fmi-schema/src/fmi3/model_description.rs
  fmi-schema/src/fmi3/variable.rs
  fmi-schema/tests/test_fmi2.rs
  fmi-sim/src/lib.rs
  fmi-sim/src/sim/fmi2/me.rs
  fmi-sim/src/sim/fmi2/mod.rs
  fmi-sim/src/sim/fmi3/io.rs
  fmi-sim/src/sim/fmi3/me.rs
  fmi-sim/src/sim/io.rs
  fmi-sim/src/sim/traits.rs
  fmi-sim/src/sim/util.rs
  fmi-sim/tests/test_fmi_sim.rs
  fmi-test-data/src/lib.rs
  fmi/src/fmi2/import.rs
  fmi/src/fmi2/instance/co_simulation.rs
  fmi/src/fmi2/instance/traits.rs
  fmi/src/fmi3/import.rs
  fmi/src/fmi3/model.rs
  fmi/src/import.rs
  rustfmt.toml
Due: FMI Core Library, FMI Schema, FMI Simulation, FMI Test Data

Initial export support, WIP
  Cargo.lock
  Cargo.toml
  fmi-export/Cargo.toml
  fmi-export/README.md
  fmi-export/src/fmi3/macros.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/lib.rs
  fmi-export/src/store.rs
Due: none

docs: Update development guide and symlink README into fmi directory
  DEVELOP.md
  README.md
  fmi/README.md
Due: none

feat: Support FMU export; WIP
  Cargo.lock
  Cargo.toml
  fmi-export-derive/Cargo.toml
  fmi-export-derive/src/lib.rs
  fmi-export/Cargo.toml
  fmi-export/examples/test_macro.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/lib.rs
  fmi-export/src/store.rs
  fmi-export/tests/procedural_macro_test.rs
  fmi-export/tests/van_der_pol.rs
  fmi-sys/build.rs
  fmi/src/fmi3/instance/common.rs
  fmi/src/fmi3/mod.rs
  fmi/src/fmi3/traits.rs
Due: FMI Core Library, FMI System Bindings

WIP
  Cargo.lock
  Cargo.toml
  fmi-export-derive/Cargo.toml
  fmi-export-derive/src/lib.rs
  fmi-export/src/fmi3/macros.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/tests/van_der_pol.rs
Due: none

progress
  Cargo.lock
  fmi-export-derive/src/lib.rs
  fmi-export/ARCHITECTURE.md
  fmi-export/examples/bouncing_ball_fmu.rs
  fmi-export/src/fmi3/macros.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/tests/bouncing_ball.rs
  fmi-export/tests/procedural_macro_test.rs
  fmi-export/tests/van_der_pol.rs
Due: none

WIP
  Cargo.lock
  Cargo.toml
  examples/bouncing_ball/Cargo.toml
  examples/bouncing_ball/src/lib.rs
  fmi-export-derive/README.md
  fmi-export-derive/src/lib.rs
  fmi-export/examples/test_macro.rs
  fmi-export/src/fmi3/macros.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/tests/bouncing_ball.rs
Due: none

WIP
  Cargo.lock
  fmi-export-derive/Cargo.toml
  fmi-export-derive/src/codegen.rs
  fmi-export-derive/src/lib.rs
  fmi-export-derive/src/model.rs
  fmi-export-derive/src/parsing.rs
  fmi-export-derive/src/schema_gen.rs
  fmi-export-derive/src/validation.rs
  fmi-export/src/fmi3/mod.rs
Due: none

WIP re-impl
  fmi-export-derive/src/integration_test.rs
  fmi-export-derive/src/lib.rs
  fmi-export-derive/src/model.rs
  fmi-export-derive/src/model_description.rs
  fmi-export-derive/src/model_new.rs
  fmi-schema/src/fmi3/variable.rs
Due: FMI Schema

wip
  fmi-export-derive/src/model_description.rs
Due: none

WIP
  examples/bouncing_ball/src/lib.rs
  fmi-export-derive/src/codegen.rs
  fmi-export-derive/src/lib.rs
  fmi-export-derive/src/model_description.rs
  fmi-export-derive/src/model_new.rs
  fmi-export/Cargo.toml
  fmi-export/examples/comprehensive_test.rs
  fmi-export/tests/bouncing_ball.rs
  fmi-export/tests/van_der_pol.rs
  fmi-schema/README.md
  fmi-schema/src/fmi2/model_description.rs
  fmi-schema/src/fmi3/mod.rs
  fmi-schema/src/fmi3/model_description.rs
  fmi-schema/src/minimal.rs
  fmi-schema/src/traits.rs
  fmi/src/fmi3/import.rs
  fmi/src/import.rs
Due: FMI Core Library, FMI Schema

refactor/cleanup
  fmi-export-derive/Cargo.toml
  fmi-export-derive/README.md
  fmi-export-derive/src/codegen.rs
  fmi-export-derive/src/codegen/get_set.rs
  fmi-export-derive/src/codegen/mod.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/codegen/model_impl/start_values.rs
  fmi-export-derive/src/codegen/util.rs
  fmi-export-derive/src/codegen/value_ref.rs
  fmi-export-derive/src/lib.rs
  fmi-export-derive/src/model.rs
  fmi-export-derive/src/model_description.rs
  fmi-export-derive/src/model_new.rs
  fmi-export-derive/src/parsing.rs
  fmi-export-derive/src/schema_gen.rs
  fmi-export-derive/src/tests.rs
  fmi-export-derive/src/validation.rs
Due: none

wip
  Cargo.lock
  fmi-export/examples/comprehensive_test.rs
  fmi-schema/src/fmi3/interface_type.rs
  fmi-schema/src/fmi3/model_description.rs
  fmi/src/fmi3/instance/mod.rs
Due: FMI Core Library, FMI Schema

wip
  fmi-export-derive/src/codegen/mod.rs
  fmi-export-derive/src/codegen/value_ref.rs
Due: none

progress!
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  dev.sh
  fmi-export-derive/src/codegen/get_set.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/lib.rs
  fmi-export-derive/src/model.rs
  fmi-export-derive/src/model_description.rs
  fmi-export-derive/src/tests.rs
  fmi-export/ARCHITECTURE.md
  fmi-export/Cargo.toml
  fmi-export/examples/bouncing_ball_fmu.rs
  fmi-export/examples/comprehensive_test.rs
  fmi-export/examples/test_macro.rs
  fmi-export/src/fmi3/macros.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/tests/bouncing_ball.rs
  fmi-schema/src/fmi3/variable.rs
  fmi-sim/src/sim/fmi3/io.rs
  xtask/Cargo.toml
  xtask/README.md
  xtask/src/fmu_builder.rs
  xtask/src/main.rs
  xtask/src/model_description_extractor.rs
  xtask/src/platform.rs
Due: FMI Schema, FMI Simulation

fix
  fmi-export-derive/src/model_description.rs
  fmi-export/examples/bouncing_ball.rs
Due: none

further progress
  examples/bouncing_ball/src/lib.rs
  fmi-export/Cargo.toml
  fmi-export/examples/bouncing_ball.rs
  fmi-export/src/fmi3/macros.rs
  fmi-export/src/fmi3/mod.rs
  fmi-schema/tests/test_minimal.rs
  fmi-sim/src/sim/fmi3/mod.rs
  fmi/src/fmi3/traits.rs
  xtask/src/fmu_builder.rs
  xtask/src/main.rs
Due: FMI Core Library, FMI Simulation

docs: Update development guide and symlink README into fmi directory (#110)
  DEVELOP.md
  README.md
  fmi/README.md
Due: none

partial fix for logging
  fmi-export/src/fmi3/macros.rs
  fmi-export/src/fmi3/mod.rs
Due: none
