Repository jondo2010/rust-fmi: changes, and which Codecov flags are due for each by the changed paths.
All: FMI Core Library, FMI Schema, FMI Simulation, FMI System Bindings, FMI Test Data

fix
  admin/coverage.sh
Due: none

fmt
  fmi-export/src/fmi3/variable_builder.rs
Due: none

refactor: add an additional zero-cost abstraction around FMI API - Improved abstractions for codecov
  fmi-export/Cargo.toml
  fmi-export/src/fmi3/export.rs
  fmi-export/src/fmi3/macros.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-export/src/fmi3/traits/wrappers.rs
Due: none

fixup: additional codecov exclusion
  fmi-export/src/fmi3/export.rs
Due: none

refactor: add an additional abstraction around FMI API (#121)
  fmi-export/Cargo.toml
  fmi-export/src/fmi3/export.rs
  fmi-export/src/fmi3/macros.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-export/src/fmi3/traits/wrappers.rs
Due: none

feat: refactor xtask into a library crate - rewrite xtask bundler code from scratch
  Cargo.lock
  Cargo.toml
  README.md
  admin/coverage.sh
  fmi-sim/Cargo.toml
  fmi-xtask/Cargo.toml
  fmi-xtask/README.md
  fmi-xtask/src/builder.rs
  fmi-xtask/src/bundle.rs
  fmi-xtask/src/extractor.rs
  fmi-xtask/src/inspect.rs
  fmi-xtask/src/lib.rs
  fmi-xtask/src/metadata.rs
  fmi-xtask/src/packager.rs
  fmi/Cargo.toml
  fmi/src/fmi3/import.rs
  fmi/src/fmi3/mod.rs
  xtask/Cargo.toml
  xtask/README.md
  xtask/src/commands/bundle.rs
  xtask/src/commands/bundle_multi.rs
  xtask/src/commands/mod.rs
  xtask/src/extractor.rs
  xtask/src/fmu_builder.rs
  xtask/src/main.rs
  xtask/src/platform.rs
Due: FMI Core Library

feat: refactor xtask into a library crate (#120)
  Cargo.lock
  Cargo.toml
  README.md
  admin/coverage.sh
  fmi-sim/Cargo.toml
  fmi-xtask/Cargo.toml
  fmi-xtask/README.md
  fmi-xtask/src/builder.rs
  fmi-xtask/src/bundle.rs
  fmi-xtask/src/extractor.rs
  fmi-xtask/src/inspect.rs
  fmi-xtask/src/lib.rs
  fmi-xtask/src/metadata.rs
  fmi-xtask/src/packager.rs
  fmi/Cargo.toml
  fmi/src/fmi3/import.rs
  fmi/src/fmi3/mod.rs
  xtask/Cargo.toml
  xtask/README.md
  xtask/src/commands/bundle.rs
  xtask/src/commands/bundle_multi.rs
  xtask/src/commands/mod.rs
  xtask/src/extractor.rs
  xtask/src/fmu_builder.rs
  xtask/src/main.rs
  xtask/src/platform.rs
Due: FMI Core Library

docs: Fix README.md links
  README.md
Due: none

docs: Fix README.md links (#122)
  README.md
Due: none

WIP port of feedthrough example
  Cargo.lock
  examples/feedthrough/Cargo.toml
  examples/feedthrough/README.md
  examples/feedthrough/src/lib.rs
  fmi-export-derive/src/model_variables/field_type.rs
Due: none

WIP support for ls-bus
  .gitmodules
  fmi-sys/Cargo.toml
  fmi-sys/build.rs
  fmi-sys/src/fmi_ls_bus/util.rs
  fmi-sys/src/lib.rs
  fmi-sys/src/ls_bus/mod.rs
  fmi/Cargo.toml
  fmi/src/lib.rs
  fmi/src/ls_bus/mod.rs
Due: FMI Core Library, FMI System Bindings

wip
  Cargo.lock
  fmi-sys/build.rs
  fmi-sys/src/fmi_ls_bus/util.rs
  fmi-sys/src/ls_bus/mod.rs
  fmi/Cargo.toml
  fmi/src/lib.rs
  fmi/src/ls_bus/mod.rs
Due: FMI Core Library, FMI System Bindings

ls-bus-can basically done
  fmi/Cargo.toml
  fmi/src/ls_bus/can/mod.rs
  fmi/src/ls_bus/can/tests.rs
  fmi/src/ls_bus/mod.rs
  fmi/src/ls_bus/tests.rs
Due: FMI Core Library

fix: Clean up ValueRef associated types in fmi3, refactor the fmi-export `Model` trait for array handling.
  fmi-export-derive/src/codegen/model_impl/getter_setter.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/codegen/value_ref.rs
  fmi-export/src/fmi3/instance/common.rs
  fmi-export/src/fmi3/instance/get_set.rs
  fmi-export/src/fmi3/instance/mod.rs
  fmi-export/src/fmi3/instance/model_exchange.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-export/src/fmi3/traits/wrappers.rs
  fmi/src/fmi3/instance/common.rs
  fmi/src/fmi3/instance/scheduled_execution.rs
  fmi/src/fmi3/traits.rs
Due: FMI Core Library

Initial code for CanTriggeredOutput example
  Cargo.lock
  examples/can_triggered_output/Cargo.toml
  examples/can_triggered_output/README.md
  examples/can_triggered_output/src/lib.rs
Due: none

WIP refactor approach
  fmi-export-derive/src/codegen/mod.rs
  fmi-export-derive/src/codegen/model_get_set.rs
  fmi-export-derive/src/codegen/model_impl/get_set_states.rs
  fmi-export-derive/src/codegen/model_impl/getter_setter.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/codegen/model_impl/start_values.rs
  fmi-export-derive/src/codegen/value_ref.rs
  fmi-export-derive/src/model/mod.rs
  fmi-export/src/fmi3/instance/common.rs
  fmi-export/src/fmi3/instance/get_set.rs
  fmi-export/src/fmi3/instance/model_exchange.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-export/src/fmi3/traits/model_get_set.rs
  fmi-export/src/fmi3/traits/wrappers.rs
Due: none

part2 refactor
  examples/bouncing_ball/src/lib.rs
  examples/dahlquist/src/lib.rs
  examples/vanderpol/src/lib.rs
  fmi-export-derive/src/codegen/mod.rs
  fmi-export-derive/src/codegen/model_get_set.rs
  fmi-export-derive/src/codegen/model_get_set_states.rs
  fmi-export-derive/src/codegen/model_impl/get_set_states.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/model/field_attr.rs
  fmi-export-derive/src/model/mod.rs
  fmi-export/src/fmi3/instance/model_exchange.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-export/src/fmi3/traits/model_get_set.rs
  fmi-export/src/fmi3/traits/wrappers.rs
Due: none

WIP
  examples/dahlquist/src/lib.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/variable_builder.rs
Due: none

WIP
  examples/dahlquist/src/lib.rs
  fmi-export-derive/src/codegen/mod.rs
  fmi-export-derive/src/codegen/model_impl/metadata.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/lib.rs
  fmi-export-derive/src/model/field_attr.rs
  fmi-export-derive/src/model/mod.rs
  fmi-export-derive/src/model_structure.rs
  fmi-export-derive/src/model_variables/field_type.rs
  fmi-export-derive/src/model_variables/mod.rs
  fmi-export/src/fmi3/export.rs
  fmi-export/src/fmi3/instance/get_set.rs
  fmi-export/src/fmi3/instance/mod.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-export/src/fmi3/traits/model_get_set.rs
  fmi-export/src/fmi3/variable_builder.rs
  fmi-schema/src/fmi3/variable/mod.rs
  fmi-schema/src/fmi3/variable/model_variables.rs
  fmi/src/fmi3/mod.rs
Due: FMI Core Library, FMI Schema

WIP working
  examples/dahlquist/src/lib.rs
  fmi-export-derive/src/codegen/model_impl/metadata.rs
  fmi-export-derive/src/model/field_attr.rs
  fmi-export/src/fmi3/export.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-schema/src/fmi3/variable/mod.rs
  fmi-xtask/src/extractor.rs
Due: FMI Schema

WIP
  examples/can_triggered_output/src/lib.rs
  fmi-export-derive/src/model/field_attr.rs
  fmi-export/src/fmi3/clock.rs
  fmi-export/src/fmi3/instance/get_set.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits/model_get_set.rs
  fmi-export/src/fmi3/variable_builder.rs
  fmi-schema/src/fmi3/variable/mod.rs
Due: FMI Schema

clocks and binary look to be mostly working
  examples/can_triggered_output/src/lib.rs
  fmi-export-derive/src/codegen/model_get_set.rs
  fmi-export-derive/src/codegen/model_impl/metadata.rs
  fmi-export-derive/src/codegen/model_impl/start_values.rs
  fmi-export/src/fmi3/clock.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits/model_get_set.rs
  fmi-export/src/fmi3/types.rs
  fmi-export/src/fmi3/variable_builder.rs
  fmi-schema/src/fmi3/variable/mod.rs
  fmi-schema/src/fmi3/variable/model_variables.rs
  fmi-schema/src/fmi3/variable/tests.rs
Due: FMI Schema

WIP
  examples/can_triggered_output/src/lib.rs
  fmi-export-derive/src/codegen/model_get_set.rs
  fmi-export/src/fmi3/instance/co_simulation.rs
  fmi-export/src/fmi3/instance/common.rs
  fmi-export/src/fmi3/instance/mod.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-export/src/fmi3/traits/model_get_set.rs
  fmi-export/src/fmi3/types.rs
Due: none

wip
  Cargo.lock
  Cargo.toml
  examples/bouncing_ball/src/lib.rs
  examples/can_triggered_output/Cargo.toml
  examples/can_triggered_output/src/lib.rs
  examples/dahlquist/src/lib.rs
  examples/stair/src/lib.rs
  examples/vanderpol/src/lib.rs
  fmi-export/src/fmi3/types.rs
  fmi-ls-bus/Cargo.toml
  fmi-ls-bus/src/can/mod.rs
  fmi-ls-bus/src/can/tests.rs
  fmi-ls-bus/src/lib.rs
  fmi-ls-bus/src/tests.rs
  fmi/src/fmi3/instance/co_simulation.rs
  fmi/src/fmi3/instance/model_exchange.rs
  fmi/src/fmi3/traits.rs
  fmi/src/lib.rs
  fmi/src/ls_bus/mod.rs
  fmi/src/ls_bus/tests.rs
Due: FMI Core Library

wip
  fmi-export-derive/src/codegen/model_get_set.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/codegen/model_impl/start_values.rs
  fmi-export/ARCHITECTURE.md
  fmi-export/src/fmi3/export.rs
  fmi-export/src/fmi3/instance/co_simulation.rs
  fmi-export/src/fmi3/instance/common.rs
  fmi-export/src/fmi3/instance/context.rs
  fmi-export/src/fmi3/instance/get_set.rs
  fmi-export/src/fmi3/instance/impl_cs_me_wrapper.rs
  fmi-export/src/fmi3/instance/impl_me.rs
  fmi-export/src/fmi3/instance/mod.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-export/src/fmi3/traits/model_get_set.rs
  fmi-export/src/fmi3/traits/wrappers.rs
  fmi-export/src/lib.rs
Due: none

breaking: removed poorly abstracted getters for number of states and event indicators from `FmiInstance` and `FmiModelExchange` supertraits.
  fmi-sim/src/sim/fmi2/mod.rs
  fmi-sim/src/sim/fmi3/mod.rs
  fmi-sim/src/sim/me.rs
  fmi-sim/src/sim/traits.rs
  fmi/src/fmi2/instance/co_simulation.rs
  fmi/src/fmi2/instance/mod.rs
  fmi/src/fmi2/instance/model_exchange.rs
  fmi/src/fmi3/instance/mod.rs
  fmi/src/fmi3/instance/model_exchange.rs
  fmi/src/traits.rs
Due: FMI Core Library, FMI Simulation

fixup: formatting
  fmi-sim/src/sim/fmi3/cs.rs
  fmi-sim/src/sim/fmi3/me.rs
Due: FMI Simulation

Remove model_description lifetime dependency from FMI instances (#130)
  fmi-sim/src/sim/fmi2/cs.rs
  fmi-sim/src/sim/fmi2/io.rs
  fmi-sim/src/sim/fmi2/me.rs
  fmi-sim/src/sim/fmi2/mod.rs
  fmi-sim/src/sim/fmi3/cs.rs
  fmi-sim/src/sim/fmi3/io.rs
  fmi-sim/src/sim/fmi3/me.rs
  fmi-sim/src/sim/fmi3/mod.rs
  fmi-sim/src/sim/me.rs
  fmi-sim/src/sim/mod.rs
  fmi-sim/src/sim/traits.rs
  fmi/src/fmi2/import.rs
  fmi/src/fmi2/instance/co_simulation.rs
  fmi/src/fmi2/instance/common.rs
  fmi/src/fmi2/instance/mod.rs
  fmi/src/fmi2/instance/model_exchange.rs
  fmi/src/fmi3/import.rs
  fmi/src/fmi3/instance/co_simulation.rs
  fmi/src/fmi3/instance/common.rs
  fmi/src/fmi3/instance/mod.rs
  fmi/src/fmi3/instance/model_exchange.rs
  fmi/src/fmi3/instance/scheduled_execution.rs
  fmi/src/fmi3/traits.rs
  fmi/src/traits.rs
Due: FMI Core Library, FMI Simulation

WIP porting to hard_xml
  Cargo.lock
  fmi-schema/Cargo.toml
  fmi-schema/src/fmi3/annotation.rs
  fmi-schema/src/fmi3/attribute_groups.rs
  fmi-schema/src/fmi3/build_description.rs
  fmi-schema/src/fmi3/interface_type.rs
  fmi-schema/src/fmi3/mod.rs
  fmi-schema/src/fmi3/model_description.rs
  fmi-schema/src/fmi3/type.rs
  fmi-schema/src/fmi3/unit.rs
  fmi-schema/src/fmi3/variable/dimension.rs
  fmi-schema/src/fmi3/variable/mod.rs
  fmi-schema/src/fmi3/variable/model_variables.rs
  fmi-schema/src/fmi3/variable/tests.rs
  fmi-schema/src/fmi3/variable_dependency.rs
  fmi-schema/src/lib.rs
  fmi-schema/src/minimal.rs
  fmi-schema/src/utils.rs
Due: FMI Schema

wip
  fmi-schema/Cargo.toml
  fmi-schema/src/fmi3/model_description.rs
  fmi-schema/src/fmi3/variable/mod.rs
  fmi-schema/src/fmi3/variable_dependency.rs
  fmi-schema/tests/test_fmi2.rs
  fmi-schema/tests/test_fmi3.rs
  fmi-schema/tests/test_fmi3_build_description.rs
  fmi-schema/tests/test_serialize.rs
Due: FMI Schema

WIP
  fmi-schema/src/fmi3/build_description.rs
  fmi-schema/src/fmi3/variable/mod.rs
  fmi-schema/src/fmi3/variable/tests.rs
Due: FMI Schema

mostly fixed
  fmi-export-derive/src/model_variables/mod.rs
  fmi-schema/Cargo.toml
  fmi-schema/src/fmi2/attribute_groups.rs
  fmi-schema/src/fmi2/interface_type.rs
  fmi-schema/src/fmi2/mod.rs
  fmi-schema/src/fmi2/model_description.rs
  fmi-schema/src/fmi2/scalar_variable.rs
  fmi-schema/src/fmi2/type.rs
  fmi-schema/src/fmi2/unit.rs
  fmi-schema/src/fmi2/variable_dependency.rs
  fmi-schema/src/fmi3/model_description.rs
  fmi-schema/src/fmi3/type.rs
  fmi-schema/src/fmi3/variable/mod.rs
  fmi-schema/src/fmi3/variable/model_variables.rs
  fmi-schema/src/fmi3/variable/tests.rs
  fmi-schema/src/lib.rs
  fmi-schema/tests/test_fmi2.rs
  fmi-schema/tests/test_fmi3.rs
  fmi-xtask/src/metadata.rs
  tests/test_instances_fmi3.rs
Due: FMI Schema

fixes
  fmi-export-derive/src/model_structure.rs
  fmi-export-derive/src/model_variables/mod.rs
  fmi-export-derive/src/tests.rs
  fmi-schema/tests/test_fmi3.rs
  fmi-sim/src/sim/fmi2/schema.rs
Due: FMI Simulation

formatting
  Cargo.lock
  Cargo.toml
  fmi-export-derive/src/model_structure.rs
  fmi-export-derive/src/model_variables/mod.rs
  fmi-schema/src/fmi2/model_description.rs
  fmi-schema/src/fmi2/type.rs
  fmi-schema/src/fmi3/variable/mod.rs
  fmi-schema/src/fmi3/variable/tests.rs
  fmi-schema/tests/test_fmi2.rs
  tests/test_instances_fmi3.rs
Due: FMI Schema

test: update bouncing ball test for API changes
  fmi-sim/tests/test_fmi_sim.rs
Due: none

fixup
  fmi-schema/src/fmi2/mod.rs
  fmi-schema/src/fmi2/model_description.rs
  fmi-schema/tests/test_serialize.rs
Due: FMI Schema

fix
  fmi-schema/tests/test_serialize.rs
Due: none

refactor: migrate XML parsing from yaserde to hard_xml (#131)
  Cargo.lock
  Cargo.toml
  fmi-export-derive/src/model_structure.rs
  fmi-export-derive/src/model_variables/mod.rs
  fmi-export-derive/src/tests.rs
  fmi-schema/Cargo.toml
  fmi-schema/src/fmi2/attribute_groups.rs
  fmi-schema/src/fmi2/interface_type.rs
  fmi-schema/src/fmi2/mod.rs
  fmi-schema/src/fmi2/model_description.rs
  fmi-schema/src/fmi2/scalar_variable.rs
  fmi-schema/src/fmi2/type.rs
  fmi-schema/src/fmi2/unit.rs
  fmi-schema/src/fmi2/variable_dependency.rs
  fmi-schema/src/fmi3/annotation.rs
  fmi-schema/src/fmi3/attribute_groups.rs
  fmi-schema/src/fmi3/build_description.rs
  fmi-schema/src/fmi3/interface_type.rs
  fmi-schema/src/fmi3/mod.rs
  fmi-schema/src/fmi3/model_description.rs
  fmi-schema/src/fmi3/type.rs
  fmi-schema/src/fmi3/unit.rs
  fmi-schema/src/fmi3/variable/dimension.rs
  fmi-schema/src/fmi3/variable/mod.rs
  fmi-schema/src/fmi3/variable/model_variables.rs
  fmi-schema/src/fmi3/variable/tests.rs
  fmi-schema/src/fmi3/variable_dependency.rs
  fmi-schema/src/lib.rs
  fmi-schema/src/minimal.rs
  fmi-schema/src/utils.rs
  fmi-schema/tests/test_fmi2.rs
  fmi-schema/tests/test_fmi3.rs
  fmi-schema/tests/test_fmi3_build_description.rs
  fmi-schema/tests/test_serialize.rs
  fmi-sim/src/sim/fmi2/schema.rs
  fmi-sim/tests/test_fmi_sim.rs
  fmi-xtask/src/metadata.rs
  tests/test_instances_fmi3.rs
Due: FMI Schema, FMI Simulation

chore: cargo update
  Cargo.lock
Due: none

Path conditions:
  FMI Core Library: any of: fmi/src/**, fmi/build.rs, but not: target/**, **/*.md, **/tests/**, **/benches/**, fmi-standard/**, fmi-standard2/**, fmi-standard3/**, fmi-ls-bus/**, docs/**
  FMI Schema: any of: fmi-schema/src/**, but not: target/**, **/*.md, **/tests/**, **/benches/**, fmi-standard/**, fmi-standard2/**, fmi-standard3/**, fmi-ls-bus/**, docs/**
  FMI Simulation: any of: fmi-sim/src/**, fmi-sim/examples/**, but not: target/**, **/*.md, **/tests/**, **/benches/**, fmi-standard/**, fmi-standard2/**, fmi-standard3/**, fmi-ls-bus/**, docs/**
  FMI System Bindings: any of: fmi-sys/src/**, fmi-sys/build.rs, but not: target/**, **/*.md, **/tests/**, **/benches/**, fmi-standard/**, fmi-standard2/**, fmi-standard3/**, fmi-ls-bus/**, docs/**
  FMI Test Data: any of: fmi-test-data/src/**, but not: target/**, **/*.md, **/tests/**, **/benches/**, fmi-standard/**, fmi-standard2/**, fmi-standard3/**, fmi-ls-bus/**, docs/**
