Repository jondo2010/rust-fmi: changes, and which Codecov flags are due for each by the changed paths.
All: fmi, fmi-export, fmi-ls-bus, fmi-schema, fmi-sim, fmi-sys, fmi-test-data

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
        if_not_found: success
      - type: patch
        target: auto
        threshold: 1%
        if_not_found: success

  individual_components:
    - component_id: fmi
      name: fmi
      paths:
        - fmi/src/**
        - fmi/build.rs
      statuses:
        - type: project
          target: 80%
        - type: patch
          target: 70%

    - component_id: fmi-export
      name: fmi-export
      paths:
        - fmi-export/src/**
        - fmi-export-derive/src/**
      statuses:
        - type: project
          target: auto

    - component_id: fmi-ls-bus
      name: fmi-ls-bus
      paths:
        - fmi-ls-bus/src/**
      statuses:
        - type: project
          target: auto

    - component_id: fmi-schema
      name: fmi-schema
      paths:
        - fmi-schema/src/**
      statuses:
        - type: project
          target: 85%
        - type: patch
          target: 75%

    - component_id: fmi-sim
      name: fmi-sim
      paths:
        - fmi-sim/src/**
        - fmi-sim/examples/**
      statuses:
        - type: project
          target: 70%
        - type: patch
          target: 60%

    - component_id: fmi-sys
      name: fmi-sys
      paths:
        - fmi-sys/src/**
        - fmi-sys/build.rs
      statuses:
        - type: project
          target: 60%
        - type: patch
          target: 50%

    - component_id: fmi-test-data
      name: fmi-test-data
      paths:
        - fmi-test-data/src/**
      statuses:
        - type: project
          target: 75%
        - type: patch
          target: 65%

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

ignore:
  - "target/**"
  - "**/*.md"
  - "**/tests/**"
  - "**/benches/**"
  - "**/examples/**"
  - "fmi-standard/**"
  - "fmi-standard2/**"
  - "fmi-standard3/**"
  - "fmi-ls-bus/**"
  - "docs/**"

formatting
  cargo-fmi/src/info.rs
  cargo-fmi/src/inspect.rs
  cargo-fmi/src/new.rs
  cargo-fmi/tests/integration_new_bundle.rs
Due: none

cargo update
  Cargo.lock
Due: none

fixup
  cargo-fmi/src/lib.rs
Due: none

testfix
  cargo-fmi/tests/integration_new_bundle.rs
Due: none

feat: Implement cargo-fmi: (#160)
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  README.md
  cargo-fmi/Cargo.toml
  cargo-fmi/README.md
  cargo-fmi/src/builder.rs
  cargo-fmi/src/bundle.rs
  cargo-fmi/src/extractor.rs
  cargo-fmi/src/info.rs
  cargo-fmi/src/inspect.rs
  cargo-fmi/src/lib.rs
  cargo-fmi/src/main.rs
  cargo-fmi/src/metadata.rs
  cargo-fmi/src/new.rs
  cargo-fmi/src/packager.rs
  cargo-fmi/tests/integration_new_bundle.rs
  examples/dahlquist/README.md
  examples/vanderpol/README.md
  fmi-export/README.md
  fmi-xtask/src/inspect.rs
  fmi-xtask/src/lib.rs
  tests/examples_harness.rs
  xtask/Cargo.toml
  xtask/src/main.rs
Due: none

Refactor output handling in FMI simulation
  Cargo.lock
  fmi-schema/src/fmi2/mod.rs
  fmi-schema/src/fmi3/variable/model_variables.rs
  fmi-schema/tests/test_serialize.rs
  fmi-sim/Cargo.toml
  fmi-sim/examples/bouncing_ball.rs
  fmi-sim/src/lib.rs
  fmi-sim/src/main.rs
  fmi-sim/src/options.rs
  fmi-sim/src/sim/fmi2/cs.rs
  fmi-sim/src/sim/fmi2/io.rs
  fmi-sim/src/sim/fmi2/me.rs
  fmi-sim/src/sim/fmi2/mod.rs
  fmi-sim/src/sim/fmi2/schema.rs
  fmi-sim/src/sim/fmi3/cs.rs
  fmi-sim/src/sim/fmi3/io.rs
  fmi-sim/src/sim/fmi3/me.rs
  fmi-sim/src/sim/fmi3/mod.rs
  fmi-sim/src/sim/fmi3/schema.rs
  fmi-sim/src/sim/io.rs
  fmi-sim/src/sim/mod.rs
  fmi-sim/src/sim/output.rs
  fmi-sim/src/sim/traits.rs
  fmi-sim/tests/test_fmi_sim.rs
Due: fmi-schema, fmi-sim

feat: Refactor simulation options to include output handling and improve array validation
  fmi-export/src/fmi3/traits/wrappers.rs
  fmi-sim/src/lib.rs
  fmi-sim/src/options.rs
  fmi-sim/src/sim/fmi2/mod.rs
  fmi-sim/src/sim/fmi3/mod.rs
  fmi-sim/src/sim/mod.rs
  fmi-sim/src/sim/output.rs
  fmi-sim/src/sim/traits.rs
Due: fmi-export, fmi-sim

feat: Add MCAP output support and refactor output handling for various formats
  Cargo.lock
  fmi-sim/Cargo.toml
  fmi-sim/README.md
  fmi-sim/src/options.rs
  fmi-sim/src/sim/fmi2/mod.rs
  fmi-sim/src/sim/fmi3/mod.rs
  fmi-sim/src/sim/output/arrow_ipc.rs
  fmi-sim/src/sim/output/csv.rs
  fmi-sim/src/sim/output/mcap.rs
  fmi-sim/src/sim/output/mod.rs
Due: fmi-sim

feat(fmi-schema): add fmi3 terminals and icons support
  fmi-schema/EXECPLAN.md
  fmi-schema/src/fmi3/mod.rs
  fmi-schema/src/fmi3/terminals_and_icons.rs
  fmi-schema/tests/FMI3TerminalsAndIcons.xml
  fmi-schema/tests/test_fmi3_terminals_and_icons.rs
Due: fmi-schema

feat(terminals): opt-in terminal generation and bundling
  .agent/AGENTS.md
  Cargo.lock
  cargo-fmi/Cargo.toml
  cargo-fmi/src/bundle.rs
  cargo-fmi/src/extractor.rs
  cargo-fmi/src/packager.rs
  cargo-fmi/tests/integration_new_bundle.rs
  examples/can_triggered_output/src/lib.rs
  examples/terminals_simple/Cargo.toml
  examples/terminals_simple/README.md
  examples/terminals_simple/src/lib.rs
  fmi-export-derive/src/codegen/model_impl/metadata.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/codegen/model_impl/terminals.rs
  fmi-export-derive/src/lib.rs
  fmi-export-derive/src/model/field_attr.rs
  fmi-export-derive/src/model/mod.rs
  fmi-export/src/fmi3/export.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-export/src/fmu_model_docs.md
  fmi-export/tests/test_terminals_default.rs
  fmi-ls-bus/src/can/mod.rs
Due: fmi-export

fixup formatting
  examples/terminals_simple/src/lib.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/codegen/model_impl/terminals.rs
  fmi-export-derive/src/model/mod.rs
  fmi-export/src/fmi3/export.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-export/tests/test_terminals_default.rs
  fmi-schema/src/fmi3/mod.rs
  fmi-schema/src/fmi3/terminals_and_icons.rs
  fmi-schema/tests/test_fmi3_terminals_and_icons.rs
Due: fmi-export, fmi-schema

fixup
  fmi-schema/EXECPLAN.md
Due: none

Support FMI3 Terminals (#161)
  .agent/AGENTS.md
  Cargo.lock
  cargo-fmi/Cargo.toml
  cargo-fmi/src/bundle.rs
  cargo-fmi/src/extractor.rs
  cargo-fmi/src/packager.rs
  cargo-fmi/tests/integration_new_bundle.rs
  examples/can_triggered_output/src/lib.rs
  examples/terminals_simple/Cargo.toml
  examples/terminals_simple/README.md
  examples/terminals_simple/src/lib.rs
  fmi-export-derive/src/codegen/model_impl/metadata.rs
  fmi-export-derive/src/codegen/model_impl/mod.rs
  fmi-export-derive/src/codegen/model_impl/terminals.rs
  fmi-export-derive/src/lib.rs
  fmi-export-derive/src/model/field_attr.rs
  fmi-export-derive/src/model/mod.rs
  fmi-export/src/fmi3/export.rs
  fmi-export/src/fmi3/mod.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-export/src/fmu_model_docs.md
  fmi-export/tests/test_terminals_default.rs
  fmi-ls-bus/src/can/mod.rs
  fmi-schema/src/fmi3/mod.rs
  fmi-schema/src/fmi3/terminals_and_icons.rs
  fmi-schema/tests/FMI3TerminalsAndIcons.xml
  fmi-schema/tests/test_fmi3_terminals_and_icons.rs
Due: fmi-export, fmi-schema

WIP foxglove/terminal
  Cargo.lock
  examples/point2_terminal/Cargo.toml
  examples/point2_terminal/README.md
  examples/point2_terminal/src/lib.rs
  fmi-schema/src/fmi3/terminals_and_icons.rs
  fmi-sim/Cargo.toml
  fmi-sim/examples/point2_terminal.rs
  fmi-sim/src/sim/fmi2/mod.rs
  fmi-sim/src/sim/fmi3/mod.rs
  fmi-sim/src/sim/fmi3/schema.rs
  fmi-sim/src/sim/output/mcap.rs
  fmi-sim/src/sim/output/mod.rs
  fmi-sim/src/sim/traits.rs
  fmi-sim/tests/test_fmi_sim.rs
  fmi/src/fmi2/import.rs
  fmi/src/fmi3/import.rs
  fmi/src/import.rs
  fmi/src/traits.rs
Due: fmi, fmi-schema, fmi-sim

feat: support FMU codegen from Modelica using Rumoca
  Cargo.lock
  cargo-fmi/src/builder.rs
  examples/bouncing_ball_modelica/Cargo.toml
  examples/bouncing_ball_modelica/build.rs
  examples/bouncing_ball_modelica/src/bouncing_ball.mo
  examples/bouncing_ball_modelica/src/lib.rs
  examples/simple_circuit_modelica/Cargo.toml
  examples/simple_circuit_modelica/build.rs
  examples/simple_circuit_modelica/src/lib.rs
  examples/simple_circuit_modelica/src/simple_circuit.mo
  fmi-export-derive/src/codegen/model_get_set.rs
  fmi-export-derive/src/codegen/model_get_set_states.rs
  fmi-export-derive/src/codegen/model_impl/metadata.rs
  fmi-export/Cargo.toml
  fmi-export/README.md
  fmi-export/src/fmi3/instance/context.rs
  fmi-export/src/lib.rs
  fmi-export/src/rumoca.rs
  fmi-export/templates/README.md
  fmi-export/templates/rust-fmi.jinja
  fmi-schema/src/fmi3/model_description.rs
  tests/examples_harness.rs
Due: fmi-export, fmi-schema

fixup
  Cargo.lock
  examples/bouncing_ball_modelica/Cargo.toml
  examples/simple_circuit_modelica/Cargo.toml
Due: none

fix: Fix broken VR handling with array variables. test: move example wrapper tests into fmi-export, added additional coverage.
  cargo-fmi/src/inspect.rs
  cargo-fmi/src/packager.rs
  cargo-fmi/tests/integration_new_bundle.rs
  examples/dahlquist/src/lib.rs
  examples/terminals_simple/README.md
  fmi-export-derive/src/codegen/model_impl/metadata.rs
  fmi-export-derive/src/model/field_attr.rs
  fmi-export/src/fmi3/traits/model_get_set.rs
  fmi-export/src/fmi3/traits/wrappers.rs
  fmi-export/src/fmi3/variable_builder.rs
  fmi-export/tests/test_array_get_set.rs
  fmi-export/tests/test_dahlquist_wrappers.rs
Due: fmi-export

feat: implement FMI3 alias semantics
  examples/bouncing_ball/src/lib.rs
  fmi-export-derive/src/codegen/model_get_set_states.rs
  fmi-export-derive/src/codegen/model_impl/metadata.rs
  fmi-export-derive/src/codegen/value_ref.rs
  fmi-export-derive/src/lib.rs
  fmi-export-derive/src/model/field_attr.rs
  fmi-export-derive/src/model/mod.rs
  fmi-export-derive/src/tests.rs
  fmi-export/src/fmu_model_docs.md
Due: fmi-export

chore: prepare for release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cargo-fmi/Cargo.toml
  fmi-export-derive/Cargo.toml
  fmi-export/Cargo.toml
  fmi-ls-bus/Cargo.toml
  fmi-schema/Cargo.toml
  fmi/Cargo.toml
Due: none

Schedule renovate.json monthly and batched
  renovate.json
Due: none

fix(fmi-schema): ignore unknown FMI2 top-level elements
  fmi-schema/src/fmi2/model_description.rs
  fmi-schema/tests/test_fmi2.rs
Due: fmi-schema

fix(fmi-schema): ignore unknown FMI2 top-level elements (#174)
  fmi-schema/src/fmi2/model_description.rs
  fmi-schema/tests/test_fmi2.rs
Due: fmi-schema

fix(fmi-schema): accept FMI 2.0 author attribute
  fmi-schema/src/fmi2/model_description.rs
  fmi-schema/tests/test_fmi2.rs
Due: fmi-schema

fix(fmi-schema): narrow FMI 2.0 author attribute patch
  fmi-schema/src/fmi2/model_description.rs
  fmi-schema/tests/test_fmi2.rs
Due: fmi-schema

fix(fmi-schema): accept FMI 2.0 author attribute (#177)
  fmi-schema/src/fmi2/model_description.rs
  fmi-schema/tests/test_fmi2.rs
Due: fmi-schema

fix(fmi-schema): Make description attribute of log categories optional
  fmi-schema/src/fmi2/model_description.rs
Due: fmi-schema

pin libloading to previous release
  Cargo.lock
  Cargo.toml
  fmi-sim/Cargo.toml
  fmi-sys/Cargo.toml
  fmi/Cargo.toml
Due: none

fix(fmi-schema): Make description attribute of log categories optional (#178)
  fmi-schema/src/fmi2/model_description.rs
Due: fmi-schema

feat: Map Linux/aarch64 to binaries/linux64/ platform folder for fmi2
  fmi/src/fmi2/import.rs
Due: fmi

Work in progress
  Cargo.lock
  fmi-export/SE_PLAN.md
  fmi-export/src/fmi3/export.rs
  fmi-export/src/fmi3/instance/common.rs
  fmi-export/src/fmi3/instance/impl_se.rs
  fmi-export/src/fmi3/instance/mod.rs
  fmi-export/src/fmi3/traits/mod.rs
  fmi-export/src/fmi3/traits/wrappers.rs
  fmi-export/src/fmi3/variable_builder.rs
  fmi-export/tests/test_scheduled_execution.rs
  fmi-schema/src/fmi2/model_description.rs
Due: fmi-export, fmi-schema

feat: Map Linux/aarch64 to binaries/linux64/ platform folder for fmi2 (#179)
  fmi/src/fmi2/import.rs
Due: fmi

fix(fmi): add FMI 3 resource path separator
  fmi/src/fmi3/import.rs
  tests/test_instances_fmi3.rs
Due: fmi

refactor(fmi): simplify resource path separator
  fmi/src/fmi3/import.rs
Due: fmi

fix(fmi): add FMI 3 resource path separator (#183)
  fmi/src/fmi3/import.rs
  tests/test_instances_fmi3.rs
Due: fmi

test(fmi-schema): improve coverage and adjust gates
  codecov.yml
  fmi-schema/src/date_time.rs
  fmi-schema/src/fmi3/build_description.rs
  fmi-schema/src/fmi3/type.rs
  fmi-schema/src/fmi3/variable/model_variables.rs
  fmi-schema/src/fmi3/variable_dependency.rs
  fmi-schema/src/utils.rs
  fmi-schema/src/variable_counts.rs
  fmi-schema/tests/test_schema_utilities.rs
Due: fmi-schema

Revert "test(fmi-schema): improve coverage and adjust gates"
  codecov.yml
  fmi-schema/src/date_time.rs
  fmi-schema/src/fmi3/build_description.rs
  fmi-schema/src/fmi3/type.rs
  fmi-schema/src/fmi3/variable/model_variables.rs
  fmi-schema/src/fmi3/variable_dependency.rs
  fmi-schema/src/utils.rs
  fmi-schema/src/variable_counts.rs
  fmi-schema/tests/test_schema_utilities.rs
Due: fmi-schema
